.home-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-elements{
    display: flex;
    justify-content: center;
}

#Education{
    width: 30rem;
}